<%
# Code Review plugin for Redmine
# Copyright (C) 2009-2012  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>

<div class="code_review"></div>

<div id="review-form-frame">
  <div id="review-form"></div>
</div>

<div id="code-review-assign-form" />

<div id="code-review-assign-link" style="text-align: right;">
  <%
   assignments = if @change
     @change.code_review_assignments
   elsif @changeset
     @changeset.code_review_assignments
   elsif @attachment
     @attachment.code_review_assignments
   end
  -%>

  <% if User.current.allowed_to?(:assign_code_review, @project) %>
    <%= l :review_assignments %>:
    <%= show_assignments assignments, @project, {action_type: @action_type, rev: @rev, rev_to: @rev_to, path: @path, change_id: @change.try(:id), attachment_id: @attachment.try(:id), changeset_id: @changeset.try(:id), repository_id: @repository.try(:id)} %>
  <% end %>
</div>


